* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
}

ul {
    list-style-type: circle;
    margin: 0 1.5rem;
    padding: 0;
}

h2 {
    margin-top: 1rem;
}
